<details open class="monster-card">
  <summary class="monster-header">
    <div class="monster-header-wrapper">
      <div class="monster-name">{{monster.name}} (Challenge Rating: {{monster.cr}})</div>
      <div class="monster-edit">
        <i class="fa fa-pencil-square-o" ng-click="prepareEdit(monster._id)"></i>
      </div> <!-- monster-edit -->
      <div class="monster-delete">
        <i class="fa fa-trash-o" ng-click="deleteMonster(monster._id)"></i>
      </div> <!--  monster-delete -->
    </div> <!-- monster-header-wrapper -->
  </summary> <!-- monster-header -->
  <div class="monster-stats">
    <div class="monster-stat-block">
      <div class="monster-hp"><i class="fa fa-heart"></i> {{monster.hp}}</div>
      <div class="monster-exp"><i class="fa fa-level-up"></i> {{monster.exp}}</div>
      <div class="monster-ac"><i class="fa fa-diamond"></i> {{monster.ac}}</div> <!-- monster-ac -->
    </div> <!-- monster-stat-block -->
    <div class="monster-stat-block">
      <div class="monster-atk"><i class="fa fa-crosshairs"></i> {{monster.atk}}</div> <!-- monster-atk -->
      <div class="monster-dpr"><i class="fa fa-gavel"></i> {{monster.dpr}}</div> <!-- monster-dpr -->
      <div class="monster-sdc"><i class="fa fa-magic"></i> {{monster.sdc}}</div> <!-- monster-sdc -->
    </div> <!-- monster-stat-block -->
  </div> <!-- monster-stats -->
</details> <!-- monster-card -->
